
.missile {
    position:absolute;
}
.ovni { 
    position:absolute;
}
.score {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 35px;
    background-color: #CCFF00;
    color: rgba(200,200,255,1);
    font-weight: 500;
    text-align: center;
    font-size: 16pt;
}
.space--canvas {
    background-image: url('../img/space/space.gif');
    height: 100vh;
    position: fixed;
}
@media (max-width: 767px) {
    .space--canvas {
        height: calc(100vh - 80px);
    }
}